---
---

@import "{{ site.theme }}";

.anchor-tag {
    color: rgba(254, 153, 74, 0.8);
    font-size: 20px;
}

.go-back-link {
    color: lightgray;
    font-size: 15px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    display: inline-block;
    padding: 5px 0 0 0;
    margin-bottom: -25px;
}
  
nav li {
    float: left;
    padding: 0 15px;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    border-bottom-style: none !important;
}

@media screen and (max-width: 42em) {
    nav li {
        padding: 0 5px;
    }
}

.page-header { padding-bottom: 0rem !important; }

.centered {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 64em) {
    .site-footer {
      font-size: 0.8rem !important;
    }
  }