---
---

@import "{{ site.theme }}";

.anchor-tag {
    color: rgba(254, 153, 74, 0.8);
    font-size: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    display: inline-block;
    padding: 5px 0 0 0;
    margin-bottom: -25px;
}
  
nav li {
    float: left;
    padding: 0 10px;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    border-bottom-style: none !important;
}

li img {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
}

.page-header { padding-bottom: 0rem !important; }
.toc {margin-left: 5px; border: 0.2px dashed #606c71; padding-left: 5px; }
.toc h1 {
    border-bottom: 0.2px dashed #606c71;
}

.centered {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.install-note {
	line-height: 3 !important;
}

@media screen and (max-width: 42em) {
    nav li {
        padding: 0 1px;
    }
}

@media screen and (min-width: 64em) {
    .site-footer {
      font-size: 0.8rem !important;
    }
}
